body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 15%;
  background-color: transparent;
  position: absolute;
  width: 100vw;
  z-index: 1000;
}

#logo {
  position: absolute;
  z-index: 100;
  width: 70px;
  margin-top: 1%;
  margin-left: 5%;
  background-color: none;
}

#wrapper {
  position: relative;
  width: 100%;
  /* min-height:55vw; */
  height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  height: 2000px;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: start;
  transition: font-size 0.5s ease; /*EXPERIMENT NI FAITH*/
}

.layer .content-body2 {
  text-align: end;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 
.layer h1 {
  font-size: 10em;
} */

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #fdab00;
}

.top {
  background: #ffffff;
  color: #222;
  z-index: 2;
  width: 50vw;
  transition: 0.7s;
}

.search,
.explore {
  transition: font-size 0.5s;
}

.explore {
  /* font-size: clamp(2.5remm, 1.0774rem + 3.7936vw, 55.6225rem); */
}

.top .content-body {
  left: 5%;
  color: #222;
}

.content-body1,
.content-body2 {
  transition: "0.5s";
}

.content-body p {
  font-size: 2em;
  transition: 0.5s;
}

#button {
  outline: none;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 2px solid #393e46;
  transition: background-color 0.3s, color 0.3s, width 0.5s;
  padding: 3px 10px 3px 15px;
  width: 40%;
  border-right: none;
}

#icon_section {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 2px solid #393e46;
  transition: background-color 0.3s, color 0.3s, width 0.5s;
  padding: 0px 5px;
  border-left: none;
  cursor: pointer;
}

.icon {
  border: #000000 solid 2px;
  border-radius: 100px;
  padding: 6px;
  color: white;
  background-color: black;
}

.button2 {
  border-radius: 30px;
  padding: 2%;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  padding-inline: 10%;
  transition: background-color 0.3s, color 0.3s;
}

.button2:hover {
  background-color: #ffffff;
}

.button2 a {
  color: white;
  text-decoration: none;
  height: 100%;
}

.button2:hover > a {
  color: black;
}

.search_container input {
  font-size: 2em;
}
.search_container div {
  font-size: 1rem;
}

@media only screen and (min-width: 320px) {
  .content-body {
    font-size: 30%;
  }
  .content-body h1 {
    /* font-size: 500%; */
  }
  .content-body p {
    font-size: 220%;
  }
  .button2 {
    font-size: 300%;
  }
  .search_container {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 425px) {
  .content-body {
    font-size: 30%;
  }
  .content-body h1 {
    /* font-size: 600%; */
  }

  .content-body p {
    font-size: 250%;
  }
}

@media only screen and (min-width: 585px) {
  .content-body {
    font-size: 27%;
  }
  .content-body p {
    font-size: 266%;
  }
  .button2 {
    font-size: 200%;
  }
}

@media only screen and (min-width: 1024px) {
  .content-body h1 {
    /* font-size: 1000%; */
  }
  .content-body {
    font-size: 35%;
  }
  .content-body p {
    font-size: 285%;
  }
  .button2 {
    font-size: 230%;
  }
}

@media only screen and (min-width: 2560px) {
  .content-body {
    font-size: 100%;
  }
  .content-body p {
    font-size: 310%;
  }
}

.layer h1 {
  font-size: clamp(1rem, 1.0774rem + 3.7936vw, 55.6225rem);
}
