* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../media/close-up-white-marble-textured-wall.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.navigation {
  /* position: absolute; */
  width: 100%;
}

.section1 {
  /* height: 100vh; */
  width: 100%;
}

.site-title {
  width: 60%;
}

.card-img-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card {
  align-items: center;
  /* height: 15rem; */
  border-radius: 15px;
  padding: 0;
  box-shadow: 5px 5px 10px #9b9b9b;
  transition: 0.5s;
  border: none;
}

.card:hover {
  scale: 1.05;
}

.food-card {
  margin-bottom: 2%;
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1.4rem;
}

.search {
  outline: none;
  border: none;
  padding: 10px 25px;
  border-top-left-radius: 600px;
  border-bottom-left-radius: 600px;
  font-size: 2rem;
  padding-top: 5px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.search_section {
  max-width: 1000px;
}

.search_icon {
  background-color: black;
  color: white;
  border-top-right-radius: 600px;
  border-bottom-right-radius: 600px;
}
.logo {
  height: 5em;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: rgb(255, 136, 0) !important;
}

@media only screen and (min-width: 0px) {
  .site-title {
    width: 90vw;
  }
  .site-title h1 {
    font-size: 1.9rem;
  }

  .site-title p {
    font-size: 10px;
  }

  .search_section {
    width: 90vw;
  }
}

@media only screen and (min-width: 425px) {
  .site-title {
    width: 85vw;
  }
  .site-title h1 {
    font-size: 1.9rem;
  }
  .site-title p {
    font-size: 12px;
  }
  .search_section {
    width: 90vw;
  }
}

@media only screen and (min-width: 585px) {
  .site-title {
    width: 80vw;
  }

  .site-title h1 {
    font-size: 3.3rem;
  }
  .site-title p {
    font-size: 1rem;
  }

  .search_section {
    width: 65vw;
  }
}

@media only screen and (min-width: 1024px) {
  .site-title {
    width: 70vw;
    max-width: 10000px;
  }

  .site-title h1 {
    font-size: 5rem;
  }
  .site-title p {
    font-size: 1.2rem;
  }

  #go_search {
    font-size: 1.5rem;
  }

  .search_section {
    width: 40vw;
    max-width: 500px;
  }
}

@media only screen and (min-width: 2560px) {
  
  .site-title h1 {
    font-size: 8rem;
  }

  .search_section {
    max-width: 500px;
  }
}
